fastapi==0.115.12
python-jose==3.4.0
passlib==1.7.4
SQLAlchemy==2.0.40
typing-inspection==0.4.0
typing_extensions==4.13.2
pydantic==2.11.3
pydantic-settings==2.9.1
pydantic_core==2.33.1
uvicorn==0.34.2
asyncmy==0.2.10
pydantic[email]==2.11.3
